node_modules/

dist/
model/dist/
engine/dist/
editor/dist/
adventure/dist/

assets/art/hd/
assets/art/robo2/
assets/audio/midi/
assets/maps/
assets/adventure/

.VSCodeCounter/
tmp/
*.tmp.md
*.tsbuildinfo
.DS_Store
Thumbs.db
